* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-size: 24px;
}

.add-product-btn {
    background-color: #007bff;
    color: white;
    border: none;
    width: 16%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.add-product-btn:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.filterss {
    display: flex;
    justify-content: flex-start;

}

h3 {
    margin: 0 155px 0 0;
    font-size: 16px;
    font-weight: lighter;
}

.price-filter {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.filter-btn:hover {
    background-color: #0056b3;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.product-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
}

.product-price {
    font-size: 16px;
    color: #007bff;
}

.add-product-form {
    right: 0;
    left: 75%;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: black;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 100%;
    margin: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}
.item p {
    color: white;
    font-size: 11px;
}
.form-input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn,
.back-btn {
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;

}

.back-btn {
    background-color: #6c757d;
    border-radius: 5px;

}

.submit-btn:hover {
    background-color: #0056b3;
}

.back-btn:hover {
    background-color: #5a6268;
}